node_modules
.DS_Store
dist
dist-ssr
dist-react
dist-electron
*.local
!.env.local
!.env.preprod
!.env.production
count.txt

# Environment files
.env
.env.*.local

.nitro
.tanstack
.wrangler
*.db
*.db-shm
*.db-wal