spring:
  application:
    name: doitnow
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: ${DO_IT_NOW_DB_USERNAME:postgres}
    password: ${DO_IT_NOW_DB_PASSWORD:postgres}
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        jdbc:
          batch_size: 20
          time_zone: UTC
        order_inserts: true
        order_updates: true
  flyway:
    enabled: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    docExpansion: none
    displayRequestDuration: true
    filter: true
  show-actuator: false
