spring:
  application:
    name: doitnow
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: ${DO_IT_NOW_DB_USERNAME:postgres}
    password: ${DO_IT_NOW_DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        jdbc:
          batch_size: 20
          time_zone: UTC
        order_inserts: true
        order_updates: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public

logging:
  level:
    liquibase: INFO
    liquibase.changelog: DEBUG